<app-navbar [usuario]="Usuario"></app-navbar>
<div class="container" style="background-color: #43ECE4;" >
  <div class="form-control" style="background-color: #43ECE4;" >
    <div class="row">
      <h1 class="text-center ">Daniela Moreno</h1>
      <h5 class="text-center">
        Programadora, argentina, pelo de colores. Deseando aprobar laboratorio IV.
      </h5>
      <div class="text-center">
        <img src="../../../assets/imagenparaquiensoy.jpg" width="600" height="600">
      </div>
      <div class="col-12">
        <ul>
          <h3>Juego Propio</h3>
          <li>Nombre: Colors</li>
          <li>Explicacion: Se tienen dos tarjetas, una del lado izquierdo y otra del lado derecho. Del lado izquierdo nos interesa
            saber su significado, es decir si dice "amarillo" esa es la informacion que nos interesa. De la tarjeta del lado derecho nos interesa EL COLOR 
            del que esta pintada la palabra, si esta palabra estuviera pintada del color amarillo deberiamos responder SI. Caso contrario NO.
            Cada vez que el jugador acierta se suma un punto.
          </li>
        </ul>
      </div>
      <div class="float-right">
        <a href="https://github.com/MorenoDaniela">
          <input class="btn btn-warning" type="button" value="Visita mi Github" />
       </a>
      </div>
    </div>
  </div>
</div>
