<div class="container">
  <div class="form-control border-orange">
    <div class="row">
      <h1 class="text-center text-orange">Daniela Moreno</h1>
      <h5 class="text-orange text-center">
        Programadora, argentina, pelo de colores. Deseando aprobar laboratorio IV.
      </h5>
      <div class="text-center">
        <img src="../../../assets/imagenparaquiensoy.jpg">
      </div>
      <div class="float-right">
        <a href="https://github.com/MorenoDaniela">
          <input class="btn btn-warning" type="button" value="Visita mi Github" />
       </a>
      </div>
    </div>
  </div>
</div>
