<app-navbar [usuario]="Usuario"></app-navbar>
<h1 class="text-center">MENU DE JUEGOS</h1>
<div class="row">
<div class="col-6">

    <div class="card" style="background-color: #43ECE4;" (click)=alPreguntados()>
        <div class="forcard">
            <div >
              <h2 class="text-center"><b>Preguntados</b></h2>
              <div class="text-center">
                <img src="../../../assets/preguntados.png" width="300" height="200" >
              </div>
              
    
            </div>
        </div>
    </div>
    <br>
    <div class="card" style="background-color: #43ECE4;" (click)=alColors()>
        <div class="forcard">
            <div >
              <h2 class="text-center"><b>Colors</b></h2>
              <div class="text-center">
                <img src="../../../assets/colors.png" width="300" height="200" >
              </div>
              
    
            </div>
        </div>
    </div>
    
</div>
<div class="col-6">
    <div class="card" style="background-color: #43ECE4;" (click)=alMayorOMenor()>
        <div class="forcard">
            <div >
              <h2 class="text-center"><b>Mayor o Menor</b></h2>
              <div class="text-center">
                <img src="../../../assets/naipes.png" width="300" height="200"  >
              </div>
              
    
            </div>
        </div>
    </div>
    <br>
    <div class="card" style="background-color: #43ECE4;" (click)=alAhorcado()>
        <div class="forcard">
            <div >
              <h2 class="text-center"><b>Ahorcado</b></h2>
              <div class="text-center">
                <img src="../../../assets/ahorcado.png" width="300" height="200" >
              </div>
              
    
            </div>
        </div>
    </div>
</div>
</div>